* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #eee;
    flex-wrap: wrap;
    padding: 2em;
    gap: 2em;
}

body > * {
    padding: 1em;
    background-color: #fff;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.3);
    text-transform: uppercase;
}

body > header,
body > footer {
    flex: 1 0 100%;
}

body > main,
body > aside {
    min-height: 300px;
}

body > main {
    flex: 1 0 60%;
}

body > aside {
    flex: 1 1 auto;
}