.footer-container {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    padding-left: 3em;
    margin-bottom: 2em;
}

.footer-content {
    padding: 0;
    padding-top: 3em;
}

.footer-site-map {
    flex: 0 0 32%;
}

.footer-site-map h3 {
    text-align: left;
}

.footer-map ul,
.contacts ul {
    list-style-type: none;
}

.footer-map a {
    text-decoration: none;
    color: #333;
}

.footer-map a:hover {
    color: #921ea9;
}

.footer-map {
    display: flex;
    gap: 4em;
}

.contacts {
    flex: 1 0 auto;
}

@media (min-width: 1023px) {
    .footer-container {
        max-width: 80vw;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        margin: 0 auto;
        padding: 0;
    }

    .footer-content {
        flex: 0 0 32%;
        padding: 3em;
    }
}