/* TOP SIDE */

.site-main {
    box-shadow: 0 4px 2px rgb(0, 0, 0, 0.2);
}

.top {
    max-width: 70vw;
    margin: 4em auto 1em;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.upper-content {
    flex: 0 0 65%;
}

.upper-media {
    flex: 1 0 auto;
}

.upper-content h2 {
    padding-bottom: 1em;
}

.upper-content p {
    padding-bottom: 1.5em;
}

.upper-content a {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 5px 10px;
}

.upper-content a:hover {
    color: #921ea9;
}

/* MIDDLE  */

.middle-container {
    margin: 4em auto 1em;
    text-align: center;
}

.middle-container:after {
    border-bottom: 4px solid #333;
    content: '';
    display: block;
    margin: 0.5em auto;
    width: 10%;
}

/* BOTTOM SIDE */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5em;
}

.card {
    max-width: 29%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.card-media {
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #090;
    border: 5px solid #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.name,
.job,
.info {
    text-align: center;
}

.name {
    padding: 1em 1em 0 1em;;
}

.job {
    padding-bottom: 1em;
}

/* NEWSLETTER */

.newsletter {
    text-align: center;
    background-color: purple;
    padding: 2em;
}

.newsletter-container {
    max-width: 80vw;
    margin: 0 auto;
    padding-bottom: 2em;
}

.newsletter-title {
    color: white
}

.newsletter-content:after {
    border-bottom: 4px solid black;
    content: '';
    display: block;
    margin: 0.5em auto 2em;
    width: 10%;
}

form {
    margin: 0 auto;
}

.newsletter-form input[type="text"] {
    width: 30%;
    height: 3em;
    flex: 1;
}

.newsletter-form input[type="submit"] {
    background-color: white;
    height: 3em;
    width: 10%;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 1em;
}

/* TESTIMONIALS */

.testimonials {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 4em;
}

.testimonials .info {
    padding-top: 1em;
}