* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.3);
}

.image-container img{
    width: 100%;
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.content-container {
    padding: 1em 1.5em 5em;
    position: relative;
}

.content-container p {
    padding-bottom: 1em;
}

.content-container h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.card a {
    background-color: rgb(0, 153, 0);
    color: white;
    border-radius: 0.25em;
    position: absolute;
    bottom: 1.4em;
    right: 1.4em;
    text-decoration: none;
    padding: 0.7em;
}
